html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    grid-column: 3/4;
    margin: 0;
}

.pagetitle {
    grid-column: 2/3;
}

body {
    margin: 0;
    padding: 20px

}

header{
    display: grid;
    grid-template: 1fr/ 1fr 150px 2fr 3fr;
    justify-items: start;
    justify-content: start;

    margin: 15px auto;

    max-width: 80%;

    padding: 10px;
    grid-gap: 25px;

}

/* .cell {
    width:100px;
    height: 100px;
    background-color: red;
    display:grid;
    grid-column: 2/3;
    grid-row: 1/2;
}*/

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
}

main {
    max-width: 1000px;
    width: auto;
    margin:auto;

}

label {
    display:inline;
    padding: 5px;

}

input {

    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 8px;
    margin: 5px;
    margin-left: 20px;

}

textarea {
    display: block;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
    width: 500px;
}

button {
    padding: 10px;
    font-size: 90%;
}

.book-review-form {
    background-color: white;
    padding: 24px;
}

.main-page-book-review {
    margin: 0 10px;
    max-height: 500px;
    background-color: white;
    border: 10px solid lightblue;
    border-top: 10px solid lightblue;;
    border-bottom: 10px solid lightblue;
    padding: 50px 10px;
    display: grid;
    grid-template: repeat(7, 1fr) 3fr/ 1fr 3fr;
    justify-content: start;

}

.detail-page-book-review {
    margin: 0 50px;
    background-color: white;
    border: 10px solid lightblue;
    border-top: 10px solid lightblue;;
    border-bottom: 10px solid lightblue;
    padding: 24px;
}

.book-cover {
    width: auto;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/6;
    padding: 25px;
}

/* img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
} */

.book-title {
    font-weight: bold;
    font-size: 150%;

    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;

}

.book-rating {
    display:grid;
    font-size: 125%;
    grid-column:2/3;
    grid-row: 2/3;
}

.book-authors {
    color: dimgray;
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
}

.summary {
    display:grid;
    grid-row: 5/8;

}
